body {
    font-family:century gothic;
    font-size:14px;
    background-image: linear-gradient(to bottom, #881755, #13011b);
    background-attachment:fixed;
}


/* Track */
::-webkit-scrollbar-track {
    background: silver; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

#logo {
    display:block;
    margin:0 auto;
}

input[name=api] {
    display:block;
    margin:0 auto;
    padding:10px;
    color:#4e4e4e;
    border-radius:20px;
    width:75%;
    text-align:center;
}

input[name=api]:focus,
button:focus {
    outline:none;
}


#generate {
    margin: 16px auto;
    display: block;
    border-style: none;
    background-color: #63ffa8;
    border-radius: 20px;
    padding: 10px 40px;
    cursor: pointer;
    color: #1e4b61;
    font-weight: bold;
}

#generate:hover {
    background-color: #b1fad2;
}

p {
    text-align:center;
    margin:20px auto;
    color:white;
}

footer {
    text-align: center;
    color: white;
    margin-bottom: 50px;
}